*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
display: flex;
justify-content: space-between;
padding: 0 100px;
align-items: center;
height: 90px;
border-bottom: #ebe9e9 1px solid;
}
.header img{
    width: 160px;
}
.header-right{
    display: flex;
    gap: 20px;
}
.header-right a{
    text-decoration: none;
     color: #666;
    font-size: 1.3rem;
    
}
.hero-section{
    text-align: center;
    margin-top: 50px;
}
.hero-section img{
    width: 900px;
}
.hero-section h1{
    margin-bottom: 30px;

}
.hero-section p{
    margin-bottom: 30px;
}
.hero-section a{
    background-color: #387ed1;
    color: #fff;
    padding:10px 20px;
    border: 1px solid (0,0,0,0);
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
}
.trust-sec{
   margin-top: 100px;
    display: flex;
    padding: 0 200px;
align-items: center;
   
}
.trust-right img{
       max-width: 100%;
    width: auto;
}
.trust-left h2{
     color: #424242;
   padding-bottom: 40px;
   font-size: 1.5rem;
    line-height: 1.5;
}
.trust-left h3{
    color: #4e4d4d;
    padding-bottom: 20px;
     margin-bottom: 0;
    font-size: 1.25rem;
   
}
.trust-left p{
    margin-top: 5px;
    margin-bottom: 32px;
    color: #666;
    font-size: 1rem;
    line-height: 1.8
}
.trust-left a{
   
    color: #387ed1;
    padding:10px 20px;
    text-decoration: none;
}
.trust-right a{
    color: #387ed1;
    padding:10px 20px;
    text-decoration: none;
}
.middle-sec a{
    margin-top: 100px;
    display: flex;
    padding: 0 380px;
align-items: center;
max-width: 100%;
}