* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 90px;
  border-bottom: #ebe9e9 1px solid;
}
.header img {
  width: 160px;
  /*position: fixed; it will fix its osition and width or height will go to hte original size*/
}
.header-right {
  display: flex;
  gap: 20px;
}
.header-right a {
  text-decoration: none;
  color: #666;
  font-size: 1.3rem;
}
.hero-section {
  text-align: center;
  margin-top: 50px;
}
.hero-section img {
  width: 900px;
}
.hero-section h1 {
  margin-bottom: 30px;
}
.hero-section p {
  margin-bottom: 30px;
}
.hero-section a {
  background-color: #387ed1;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid (0, 0, 0, 0);
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
}
.trust-sec {
  margin-top: 100px;
  display: flex;
  padding: 0 200px;
  align-items: center;
}
.trust-right img {
  max-width: 100%;
  width: auto;
}
.trust-left h2 {
  color: #424242;
  padding-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
}
.trust-left h3 {
  color: #4e4d4d;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}
.trust-left p {
  margin-top: 5px;
  margin-bottom: 32px;
  color: #666;
  font-size: 1rem;
  line-height: 1.8;
}
.trust-left a {
  color: #387ed1;
  padding: 10px 20px;
  text-decoration: none;
}
.trust-right a {
  color: #387ed1;
  padding: 10px 20px;
  text-decoration: none;
}
.middle-sec a {
  margin-top: 100px;
  display: flex;
  padding: 0 380px;
  align-items: center;
  max-width: 100%;
}
.pricing {
  margin-top: 100px;
  display: flex;
  padding: 0 100px;
}
.pricing-left h2 {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  padding: 0 100px;
}
.pricing-left p {
  color: #666;
  padding: 0 100px;

  margin-bottom: 30px;
}
.pricing-left a {
  color: #387ed1;
  padding: 0 100px;

  text-decoration: none;
}
.pricing-right {
  margin-top: 80px;
  display: flex;
  padding: 0 100px;
  align-items: center;
}
.pricing-right img {
  width: 120px;
  position: relative;
  top: 22px;
}
.vercity {
  margin-top: 50px;
  display: flex;
  padding: 0 100px;
  align-items: center;
}
.v-left img {
  margin-top: 60px;
  width: 500px;
}
.v-right {
  margin-left: 80px;
}
.v-right h2 {
  font-size: 1.5rem;
  color: #424242;
  padding-bottom: 20px;
}
.v-right p {
  color: #666;
  padding-bottom: 20px;
}
.v-right a {
  color: #387ed1;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 10px;
}

.open-account {
  text-align: center;
  margin-top: 50px;
}
.open-account h2 {
  margin-bottom: 30px;
  color: #504e4e;
}
.open-account p {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.open-account a {
  background-color: #387ed1;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid (0, 0, 0, 0);
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
}

.footer {
  margin-top: 70px;
  background-color: #fbfbfb;
  padding: 0 200px;
  border-top: 1px solid #eee;
  display: block;
  unicode-bidi: isolate;
  font-family: Arial, sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col{
  margin-top:50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-col h3{
    margin-bottom: 10px;
    color: #333;
}

.footer-col a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-col a:hover{
    color: #387ed1;
}

.brand{
    max-width: 220px;
}

.logo{
    color: #387ed1;
    margin-bottom: 10px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;   /* space between two rows */
}

.icon-row i{
    margin-right: 12px;
    font-size: 18px;
    cursor: pointer;
}
.textsec{
    margin-top: 50px;
    margin-bottom: 30px;
}
.textsec p{
    display: block;
    font-size: 13px;
        color: #9b9b9b;
    margin-top: 10px;
}
.textsec a{
    text-decoration: none;
    color: #387ed1;
    font-size: 12px;
    margin-left: 10px;
}




